## [SQL Model](https://sqlmodel.tiangolo.com/)

* [Tutorial](https://sqlmodel.tiangolo.com/tutorial/)

In [48]:
from typing import Optional

from sqlmodel import Field, SQLModel, create_engine

In [54]:
# for formatting and color

from pprint import pprint as pp
from pprint import pformat as pf
from termcolor import cprint
from colorama import Fore, Back, Style

RED = "\033[31m"
RESET = "\033[39m"

### [Creating tables using SQL Model](https://sqlmodel.tiangolo.com/tutorial/create-db-and-table/)

In [2]:
# this will be our table in DB
class Hero(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    secret_name: str
    age: Optional[int] = None


# sqlite db
sqlite_file_name = "database.db"
sqlite_url = f"sqlite:///{sqlite_file_name}"

# engine used to execute queries
engine = create_engine(sqlite_url, echo=True)

# initializing db and creating tables
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [3]:
create_db_and_tables()

2021-08-27 22:17:37,955 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 22:17:37,956 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hero")
2021-08-27 22:17:37,956 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-27 22:17:37,960 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("hero")
2021-08-27 22:17:37,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-27 22:17:37,960 INFO sqlalchemy.engine.Engine
CREATE TABLE hero (
	id INTEGER,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	age INTEGER,
	PRIMARY KEY (id)
)


2021-08-27 22:17:37,964 INFO sqlalchemy.engine.Engine [no key 0.00158s] ()
2021-08-27 22:17:38,470 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_id ON hero (id)
2021-08-27 22:17:38,470 INFO sqlalchemy.engine.Engine [no key 0.00092s] ()
2021-08-27 22:17:38,588 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_name ON hero (name)
2021-08-27 22:17:38,588 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2021-08-27 22:17:38,751 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_secret_name ON hero (secret_name)
2021-08-27 22:17:38,755 INFO sqlalchemy.engine.Engine [no key 0.00362s] ()
2021-08-27 22:17:39,032 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_age ON hero (age)
2021-08-27 22:17:39,032 INFO sqlalchemy.engine.Engine [no key 0.00086s] ()
2021-08-27 22:17:39,184 INFO sqlalchemy.engine.Engine COMMIT

### [Creating tables using SQL Model](https://sqlmodel.tiangolo.com/tutorial/create-db-and-table/)

In [4]:
from sqlmodel import Session


def create_heroes():
    # Create each of the objects/instances of the Hero model.
    # Each of them represents the data for one row.
    hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")
    hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
    hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)

    # Use a with block to create a Session using the engine.
    # The new sesion will be assigned to the variable session.
    with Session(engine) as session:
        # Add each of the objects/instances to the session.
        session.add(hero_1)
        session.add(hero_2)
        session.add(hero_3)

        # Commit the changes to the database.
        session.commit()

In [5]:
create_heroes()

2021-08-27 22:17:49,197 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 22:17:49,201 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 22:17:49,201 INFO sqlalchemy.engine.Engine [generated in 0.00108s] ('Deadpond', 'Dive Wilson', None)
2021-08-27 22:17:49,205 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 22:17:49,209 INFO sqlalchemy.engine.Engine [cached since 0.007907s ago] ('Spider-Boy', 'Pedro Parqueador', None)
2021-08-27 22:17:49,209 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 22:17:49,209 INFO sqlalchemy.engine.Engine [cached since 0.01033s ago] ('Rusty-Man', 'Tommy Sharp', 48)
2021-08-27 22:17:49,213 INFO sqlalchemy.engine.Engine COMMIT

### [Automatic ID's](https://sqlmodel.tiangolo.com/tutorial/automatic-id-none-refresh/)

In [78]:
def create_heroes():
    hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")
    hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
    hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)

    print(Fore.GREEN)
    print("\nBefore interacting with the database")
    print("Hero 1:", hero_1)
    print("Hero 2:", hero_2)
    print("Hero 3:", hero_3)
    print(Style.RESET_ALL)

    with Session(engine) as session:
        session.add(hero_1)
        session.add(hero_2)
        session.add(hero_3)

        # check id before inserting into db
        print(Fore.GREEN)
        print("\nAfter adding to the session")
        print("Hero 1:", hero_1)
        print("Hero 2:", hero_2)
        print("Hero 3:", hero_3)
        print(Style.RESET_ALL)

        session.commit()

        # objects expire after commiting to db
        print(Fore.GREEN)
        print("\nAfter committing the session")
        print("Hero 1:", hero_1)
        print("Hero 2:", hero_2)
        print("Hero 3:", hero_3)
        print(Style.RESET_ALL)

        # will be automatically refreshed if any attribute is accessed
        print(Fore.GREEN)
        print("\nAfter committing the session, show IDs")
        print("Hero 1 ID:", hero_1.id)
        print("Hero 2 ID:", hero_2.id)
        print("Hero 3 ID:", hero_3.id)
        print(Style.RESET_ALL)

        print(Fore.GREEN)
        print("\nAfter committing the session, show names")
        print("Hero 1 name:", hero_1.name)
        print("Hero 2 name:", hero_2.name)
        print("Hero 3 name:", hero_3.name)
        print(Style.RESET_ALL)

        # we can also force a refresh
        session.refresh(hero_1)
        session.refresh(hero_2)
        session.refresh(hero_3)

        print(Fore.GREEN)
        print("\nAfter refreshing the heroes")
        print("Hero 1:", hero_1)
        print("Hero 2:", hero_2)
        print("Hero 3:", hero_3)
        print(Style.RESET_ALL)

    # after session is closed, refreshed objects remain
    print(Fore.GREEN)
    print("\nAfter the session closes")
    print("Hero 1:", hero_1)
    print("Hero 2:", hero_2)
    print("Hero 3:", hero_3)
    print(Style.RESET_ALL)

In [79]:
create_heroes()

Before interacting with the database
Hero 1: id=None name='Deadpond' secret_name='Dive Wilson' age=None
Hero 2: id=None name='Spider-Boy' secret_name='Pedro Parqueador' age=None
Hero 3: id=None name='Rusty-Man' secret_name='Tommy Sharp' age=48



After adding to the session
Hero 1: id=None name='Deadpond' secret_name='Dive Wilson' age=None
Hero 2: id=None name='Spider-Boy' secret_name='Pedro Parqueador' age=None
Hero 3: id=None name='Rusty-Man' secret_name='Tommy Sharp' age=48

2021-08-27 23:12:37,672 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:12:37,673 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:12:37,673 INFO sqlalchemy.engine.Engine [cached since 3288s ago] ('Deadpond', 'Dive Wilson', None)
2021-08-27 23:12:37,677 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:12:37,677 INFO sqlalchemy.engine.Engine [cached since 3288s ago] ('Spider-Boy', 'Pedro Parqueador', None)
2021-08-27 23:12:37,677 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:12:37,681 INFO sqlalchemy.engine.Engine [cached since 3288s ago] ('Rusty-Man', 'Tommy Sharp', 48)
2021-08-27 23:12:37,681 INFO sqlalchemy.engine.Engine COMMIT


After committing the session
Hero 1:
Hero 2:
Hero 3:



After committing the session, show IDs
2021-08-27 23:12:38,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:12:38,126 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-27 23:12:38,126 INFO sqlalchemy.engine.Engine [cached since 3194s ago] (8,)
Hero 1 ID: 8
2021-08-27 23:12:38,126 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-27 23:12:38,130 INFO sqlalchemy.engine.Engine [cached since 3194s ago] (9,)
Hero 2 ID: 9
2021-08-27 23:12:38,130 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-27 23:12:38,130 INFO sqlalchemy.engine.Engine [cached since 3194s ago] (10,)
Hero 3 ID: 10



After committing the session, show names
Hero 1 name: Deadpond
Hero 2 name: Spider-Boy
Hero 3 name: Rusty-Man

2021-08-27 23:12:38,134 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:12:38,134 INFO sqlalchemy.engine.Engine [cached since 3194s ago] (8,)
2021-08-27 23:12:38,134 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:12:38,138 INFO sqlalchemy.engine.Engine [cached since 3194s ago] (9,)
2021-08-27 23:12:38,138 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:12:38,138 INFO sqlalchemy.engine.Engine [cached since 3194s ago] (10,)


After refreshing the heroes
Hero 1: id=8 name='Deadpond' age=None secret_name='Dive Wilson'
Hero 2: id=9 name='Spider-Boy' age=None secret_name='Pedro Parqueador'
Hero 3: id=10 name='Rusty-Man' age=48 secret_name='Tommy Sharp'

2021-08-27 23:12:38,138 INFO sqlalchemy.engine.Engine ROLLBACK


After the session closes
Hero 1: id=8 name='Deadpond' age=None secret_name='Dive Wilson'
Hero 2: id=9 name='Spider-Boy' age=None secret_name='Pedro Parqueador'
Hero 3: id=10 name='Rusty-Man' age=48 secret_name='Tommy Sharp'

### [Reading Data (SELECT)](https://sqlmodel.tiangolo.com/tutorial/select/)

In [100]:
from sqlmodel import select


def select_heroes():
    with Session(engine) as session:
        # Use the select() function to create a statement selecting all the Hero objects.
        statement = select(Hero)
        # Use session.exec(statement) to make the session use the engine to execute the internal SQL statement.
        results = session.exec(statement)
        # Iterate for each Hero object in the results.
        print()
        for hero in results:
            cprint(hero, "green")

        # fetch all records as list in one go
        heroes = session.exec(select(Hero)).all()
        cprint("\nAll heros as list -", "blue")
        cprint(pf(heroes), "green")

In [101]:
select_heroes()

2021-08-27 23:32:07,826 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:32:07,827 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
2021-08-27 23:32:07,828 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()

id=1 name='Deadpond' age=None secret_name='Dive Wilson'
id=2 name='Spider-Boy' age=None secret_name='Pedro Parqueador'
id=3 name='Rusty-Man' age=48 secret_name='Tommy Sharp'
id=4 name='Tarantula' age=32 secret_name='Natalia Roman-on'
id=5 name='Black Lion' age=35 secret_name='Trevor Challa'
id=6 name='Dr. Weird' age=36 secret_name='Steve Weird'
id=7 name='Captain North America' age=93 secret_name='Esteban Rogelios'
2021-08-27 23:32:07,831 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
2021-08-27 23:32:07,831 INFO sqlalchemy.engine.Engine [no key 0.00065s] ()

All heros as list -
[Hero(id=1, name='Deadpond', age=None, secret_name='Dive Wilson'),
 Hero(id=2, name='Spider-Boy', age=None, secret_name='Pedro Parqueador'),
 Hero(id=3, name='Rusty-Man', age=48, secret_name='Tommy Sharp'),
 Hero(id=4, name='Tarantula', age=32, secret_name='Natalia Roman-on'),
 Hero(id=5, name='Black Lion', age=35, secret_name='Trevor Challa'),
 Hero(id=6, name='Dr. Weird', age=36, secret_name='Steve Weird'),
 Hero(id=7, name='Captain North America', age=93, secret_name='Esteban Rogelios')]
2021-08-27 23:32:07,833 INFO sqlalchemy.engine.Engine ROLLBACK

### [Filtering Data](https://sqlmodel.tiangolo.com/tutorial/where/)

* clear db and insert these records before querying

In [80]:
def create_heroes():
    hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")
    hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
    hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)
    hero_4 = Hero(name="Tarantula", secret_name="Natalia Roman-on", age=32)
    hero_5 = Hero(name="Black Lion", secret_name="Trevor Challa", age=35)
    hero_6 = Hero(name="Dr. Weird", secret_name="Steve Weird", age=36)
    hero_7 = Hero(name="Captain North America", secret_name="Esteban Rogelios", age=93)

    with Session(engine) as session:
        session.add(hero_1)
        session.add(hero_2)
        session.add(hero_3)
        session.add(hero_4)
        session.add(hero_5)
        session.add(hero_6)
        session.add(hero_7)

        session.commit()


create_heroes()

2021-08-27 23:13:09,578 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:13:09,578 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,578 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Deadpond', 'Dive Wilson', None)
2021-08-27 23:13:09,583 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,583 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Spider-Boy', 'Pedro Parqueador', None)
2021-08-27 23:13:09,583 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,583 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Rusty-Man', 'Tommy Sharp', 48)
2021-08-27 23:13:09,587 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,587 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Tarantula', 'Natalia Roman-on', 32)
2021-08-27 23:13:09,587 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,587 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Black Lion', 'Trevor Challa', 35)
2021-08-27 23:13:09,587 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,587 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Dr. Weird', 'Steve Weird', 36)
2021-08-27 23:13:09,591 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-27 23:13:09,591 INFO sqlalchemy.engine.Engine [cached since 3320s ago] ('Captain North America', 'Esteban Rogelios', 93)
2021-08-27 23:13:09,591 INFO sqlalchemy.engine.Engine COMMIT

In [81]:
from sqlmodel import or_, col


def select_heroes():
    with Session(engine) as session:
        statement1 = select(Hero).where(Hero.age > 35)
        # multiple where, using chaining or as params
        statement2 = select(Hero).where(Hero.age > 35, Hero.age < 90)
        statement3 = select(Hero).where(Hero.age > 35).where(Hero.age < 90)

        # using or (remove IDE WARNING using col)
        statement4 = select(Hero).where(or_(col(Hero.age) <= 35, col(Hero.age) > 90))

        for stmnt in [statement1, statement2, statement3, statement4]:
            results = session.exec(stmnt)
            print("\n")
            for hero in results:
                cprint(hero, "green")
            print("\n")

In [82]:
select_heroes()

2021-08-27 23:13:13,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:13:13,847 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age > ?
2021-08-27 23:13:13,847 INFO sqlalchemy.engine.Engine [no key 0.00109s] (35,)


id=6 name='Dr. Weird' age=36 secret_name='Steve Weird'
id=3 name='Rusty-Man' age=48 secret_name='Tommy Sharp'
id=7 name='Captain North America' age=93 secret_name='Esteban Rogelios'


2021-08-27 23:13:13,851 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age > ? AND hero.age < ?
2021-08-27 23:13:13,851 INFO sqlalchemy.engine.Engine [no key 0.00081s] (35, 90)


id=6 name='Dr. Weird' age=36 secret_name='Steve Weird'
id=3 name='Rusty-Man' age=48 secret_name='Tommy Sharp'


2021-08-27 23:13:13,855 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age > ? AND hero.age < ?
2021-08-27 23:13:13,855 INFO sqlalchemy.engine.Engine [no key 0.00111s] (35, 90)


id=6 name='Dr. Weird' age=36 secret_name='Steve Weird'
id=3 name='Rusty-Man' age=48 secret_name='Tommy Sharp'


2021-08-27 23:13:13,859 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age <= ? OR hero.age > ?
2021-08-27 23:13:13,859 INFO sqlalchemy.engine.Engine [no key 0.00107s] (35, 90)


id=4 name='Tarantula' age=32 secret_name='Natalia Roman-on'
id=5 name='Black Lion' age=35 secret_name='Trevor Challa'
id=7 name='Captain North America' age=93 secret_name='Esteban Rogelios'


2021-08-27 23:13:13,863 INFO sqlalchemy.engine.Engine ROLLBACK

### [Reading One Row](https://sqlmodel.tiangolo.com/tutorial/one/)

In [86]:
# Using first - Notice that .first() is a method of the results object, not of the select() statement.

with Session(engine) as session:
    # this query would find two rows, by using .first() we get only the first row.
    statement = select(Hero).where(Hero.age <= 35)
    results = session.exec(statement)
    hero = results.first()
    cprint(f"Hero: {hero}", "green")

# It would be possible that the SQL query doesn't find any row.
# In that case, .first() will return None:
with Session(engine) as session:
    statement = select(Hero).where(Hero.age < 25)
    results = session.exec(statement)
    hero = results.first()
    cprint(f"Hero: {hero}", "red")

2021-08-27 23:16:05,903 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:16:05,908 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age <= ?
2021-08-27 23:16:05,909 INFO sqlalchemy.engine.Engine [no key 0.00094s] (35,)
Hero: id=4 name='Tarantula' age=32 secret_name='Natalia Roman-on'
2021-08-27 23:16:05,909 INFO sqlalchemy.engine.Engine ROLLBACK
2021-08-27 23:16:05,909 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:16:05,913 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age < ?
2021-08-27 23:16:05,913 INFO sqlalchemy.engine.Engine [no key 0.00091s] (25,)
Hero: None
2021-08-27 23:16:05,913 INFO sqlalchemy.engine.Engine ROLLBACK

In [90]:
# Using one - Exactly One
# There might be cases where we want to ensure that there's exactly one row matching the query.
# And if there was more than one, it would mean that there's an error in the system,
# and we should terminate with an error.
with Session(engine) as session:
    statement = select(Hero).where(Hero.name == "Deadpond")
    results = session.exec(statement)
    hero = results.one()
    cprint(f"Hero: {hero}", "green")

2021-08-27 23:19:44,782 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:19:44,782 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:19:44,782 INFO sqlalchemy.engine.Engine [no key 0.00072s] ('Deadpond',)
Hero: id=1 name='Deadpond' age=None secret_name='Dive Wilson'
2021-08-27 23:19:44,786 INFO sqlalchemy.engine.Engine ROLLBACK

In [91]:
# Exactly one with more data
with Session(engine) as session:
    statement = select(Hero).where(Hero.age <= 35)
    results = session.exec(statement)
    hero = results.one()
    cprint(f"Hero: {hero}", "red")

2021-08-27 23:19:48,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:19:48,938 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age <= ?
2021-08-27 23:19:48,942 INFO sqlalchemy.engine.Engine [no key 0.00081s] (35,)
2021-08-27 23:19:48,942 INFO sqlalchemy.engine.Engine ROLLBACK

MultipleResultsFound: Multiple rows were found when exactly one was required

In [92]:
# Exactly one with no data
with Session(engine) as session:
    statement = select(Hero).where(Hero.age < 25)
    results = session.exec(statement)
    hero = results.one()
    cprint(f"Hero: {hero}", "red")

2021-08-27 23:20:21,697 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:20:21,699 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age < ?
2021-08-27 23:20:21,700 INFO sqlalchemy.engine.Engine [no key 0.00072s] (25,)
2021-08-27 23:20:21,700 INFO sqlalchemy.engine.Engine ROLLBACK

NoResultFound: No row was found when one was required

In [93]:
# compact query version
with Session(engine) as session:
    hero = session.exec(select(Hero).where(Hero.name == "Deadpond")).one()
    cprint(f"Hero: {hero}", "green")

2021-08-27 23:21:09,640 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:21:09,640 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:21:09,640 INFO sqlalchemy.engine.Engine [no key 0.00058s] ('Deadpond',)
Hero: id=1 name='Deadpond' age=None secret_name='Dive Wilson'
2021-08-27 23:21:09,644 INFO sqlalchemy.engine.Engine ROLLBACK

In [103]:
# using get - https://sqlmodel.tiangolo.com/tutorial/one/#select-by-id-with-get

with Session(engine) as session:
    hero = session.get(Hero, 2)
    cprint(f"Hero: {hero}", "green")

# session.get(Hero, 1) is an equivalent to creating a select(),
# then filtering by Id using .where(),
# and then getting the first item with .first()
with Session(engine) as session:
    statement = select(Hero).where(Hero.id == 2)
    results = session.exec(statement)
    hero = results.first()
    cprint(f"Hero: {hero}", "green")

2021-08-27 23:32:57,194 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:32:57,196 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-27 23:32:57,196 INFO sqlalchemy.engine.Engine [cached since 411.7s ago] (2,)
Hero: id=2 name='Spider-Boy' age=None secret_name='Pedro Parqueador'
2021-08-27 23:32:57,198 INFO sqlalchemy.engine.Engine ROLLBACK
2021-08-27 23:32:57,199 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:32:57,200 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:32:57,201 INFO sqlalchemy.engine.Engine [no key 0.00089s] (2,)
Hero: id=2 name='Spider-Boy' age=None secret_name='Pedro Parqueador'
2021-08-27 23:32:57,203 INFO sqlalchemy.engine.Engine ROLLBACK

In [96]:
# Select by Id with .get() with No Data
with Session(engine) as session:
    hero = session.get(Hero, 9001)
    cprint(f"Hero: {hero}", "red")

2021-08-27 23:27:14,142 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:27:14,144 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-27 23:27:14,144 INFO sqlalchemy.engine.Engine [cached since 68.63s ago] (9001,)
Hero: None
2021-08-27 23:27:14,146 INFO sqlalchemy.engine.Engine ROLLBACK

### [LIMIT and OFFSET](https://sqlmodel.tiangolo.com/tutorial/limit-and-offset/)

In [105]:
# Using limit - limiting result set
with Session(engine) as session:
    statement = select(Hero).limit(3)  # using limit
    results = session.exec(statement)
    heroes = results.all()
    cprint(pf(heroes), "green")

2021-08-27 23:33:37,971 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:33:37,972 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
 LIMIT ? OFFSET ?
2021-08-27 23:33:37,973 INFO sqlalchemy.engine.Engine [no key 0.00109s] (3, 0)
[Hero(id=1, name='Deadpond', age=None, secret_name='Dive Wilson'),
 Hero(id=2, name='Spider-Boy', age=None, secret_name='Pedro Parqueador'),
 Hero(id=3, name='Rusty-Man', age=48, secret_name='Tommy Sharp')]
2021-08-27 23:33:37,975 INFO sqlalchemy.engine.Engine ROLLBACK

In [106]:
# using offset -
# imagine we are in a user interface showing the results in batches of 3 heroes at a time
with Session(engine) as session:
    statement = select(Hero).limit(3).offset(3)
    results = session.exec(statement)
    heroes = results.all()
    cprint(pf(heroes), "green")

2021-08-27 23:34:56,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:34:56,711 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
 LIMIT ? OFFSET ?
2021-08-27 23:34:56,712 INFO sqlalchemy.engine.Engine [no key 0.00077s] (3, 3)
[Hero(id=4, name='Tarantula', age=32, secret_name='Natalia Roman-on'),
 Hero(id=5, name='Black Lion', age=35, secret_name='Trevor Challa'),
 Hero(id=6, name='Dr. Weird', age=36, secret_name='Steve Weird')]
2021-08-27 23:34:56,714 INFO sqlalchemy.engine.Engine ROLLBACK

In [107]:
# combining offset and limit with where
with Session(engine) as session:
    statement = select(Hero).where(Hero.age > 32).limit(3)
    results = session.exec(statement)
    heroes = results.all()
    cprint(pf(heroes), "green")

2021-08-27 23:36:48,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:36:48,647 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.age > ?
 LIMIT ? OFFSET ?
2021-08-27 23:36:48,647 INFO sqlalchemy.engine.Engine [no key 0.00058s] (32, 3, 0)
[Hero(id=5, name='Black Lion', age=35, secret_name='Trevor Challa'),
 Hero(id=6, name='Dr. Weird', age=36, secret_name='Steve Weird'),
 Hero(id=3, name='Rusty-Man', age=48, secret_name='Tommy Sharp')]
2021-08-27 23:36:48,649 INFO sqlalchemy.engine.Engine ROLLBACK

### [Updating Data](https://sqlmodel.tiangolo.com/tutorial/update/)

In [108]:
with Session(engine) as session:
    # fetch the record
    statement = select(Hero).where(Hero.name == "Spider-Boy")
    results = session.exec(statement)
    hero = results.one()
    cprint(pf(hero), "green")

    # update attribute
    hero.age = 16
    # add record to session
    session.add(hero)
    # commit session
    session.commit()
    # before printing record, explicit refresh object
    session.refresh(hero)
    # print object
    cprint(pf(hero), "green")

2021-08-27 23:42:22,547 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:42:22,548 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:42:22,549 INFO sqlalchemy.engine.Engine [no key 0.00074s] ('Spider-Boy',)
Hero(id=2, name='Spider-Boy', age=None, secret_name='Pedro Parqueador')
2021-08-27 23:42:22,553 INFO sqlalchemy.engine.Engine UPDATE hero SET age=? WHERE hero.id = ?
2021-08-27 23:42:22,554 INFO sqlalchemy.engine.Engine [generated in 0.00090s] (16, 2)
2021-08-27 23:42:22,558 INFO sqlalchemy.engine.Engine COMMIT
2021-08-27 23:42:23,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:42:23,015 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:42:23,015 INFO sqlalchemy.engine.Engine [cached since 4979s ago] (2,)
Hero(id=2, name='Spider-Boy', age=16, secret_name='Pedro Parqueador')
2021-08-27 23:42:23,017 INFO sqlalchemy.engine.Engine ROLLBACK

In [112]:
# Multiple Updates
with Session(engine) as session:
    statement = select(Hero).where(Hero.name == "Spider-Boy")
    results = session.exec(statement)
    hero_1 = results.one()
    cprint(f"Hero 1: {hero_1}", "green")

    statement = select(Hero).where(Hero.name == "Captain North America")
    results = session.exec(statement)
    hero_2 = results.one()
    cprint(f"Hero 1: {hero_2}", "green")

    hero_1.age = 19
    hero_1.name = "Spider-Youngster"
    session.add(hero_1)

    hero_2.name = "Captain North America Except Canada"
    hero_2.age = 111
    session.add(hero_2)

    session.commit()
    session.refresh(hero_1)
    session.refresh(hero_2)

    cprint(f"Updated hero 1: {hero_1}", "green")
    cprint(f"Updated hero 2: {hero_2}", "green")

2021-08-27 23:48:42,629 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:48:42,631 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:48:42,631 INFO sqlalchemy.engine.Engine [no key 0.00054s] ('Spider-Boy',)
Hero 1: id=2 name='Spider-Boy' age=16 secret_name='Pedro Parqueador'
2021-08-27 23:48:42,633 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:48:42,634 INFO sqlalchemy.engine.Engine [no key 0.00059s] ('Captain North America',)
Hero 1: id=7 name='Captain North America' age=110 secret_name='Esteban Rogelios'
2021-08-27 23:48:42,635 INFO sqlalchemy.engine.Engine UPDATE hero SET name=?, age=? WHERE hero.id = ?
2021-08-27 23:48:42,636 INFO sqlalchemy.engine.Engine [generated in 0.00055s] (('Spider-Youngster', 19, 2), ('Captain North America Except Canada', 111, 7))
2021-08-27 23:48:42,638 INFO sqlalchemy.engine.Engine COMMIT
2021-08-27 23:48:42,899 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:48:42,901 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:48:42,902 INFO sqlalchemy.engine.Engine [cached since 5359s ago] (2,)
2021-08-27 23:48:42,905 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-27 23:48:42,906 INFO sqlalchemy.engine.Engine [cached since 5359s ago] (7,)
Updated hero 1: id=2 name='Spider-Youngster' age=19 secret_name='Pedro Parqueador'
Updated hero 2: id=7 name='Captain North America Except Canada' age=111 secret_name='Esteban Rogelios'
2021-08-27 23:48:42,908 INFO sqlalchemy.engine.Engine ROLLBACK

### [Deleting Data](https://sqlmodel.tiangolo.com/tutorial/delete/)

In [113]:
with Session(engine) as session:
    # fetch the record
    statement = select(Hero).where(Hero.name == "Spider-Youngster")
    results = session.exec(statement)
    hero = results.one()
    cprint(f"Hero: {hero}", "green")

    # delete record
    session.delete(hero)
    # commit session
    session.commit()

    cprint(f"Deleted Hero: {hero}", "red")

    statement = select(Hero).where(Hero.name == "Spider-Youngster")
    results = session.exec(statement)
    hero = results.first()

    if hero is None:
        cprint("There's no hero named Spider-Youngster", "red")

2021-08-27 23:52:06,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:52:06,059 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:52:06,060 INFO sqlalchemy.engine.Engine [no key 0.00104s] ('Spider-Youngster',)
Hero: id=2 name='Spider-Youngster' age=19 secret_name='Pedro Parqueador'
2021-08-27 23:52:06,063 INFO sqlalchemy.engine.Engine DELETE FROM hero WHERE hero.id = ?
2021-08-27 23:52:06,064 INFO sqlalchemy.engine.Engine [generated in 0.00067s] (2,)
2021-08-27 23:52:06,067 INFO sqlalchemy.engine.Engine COMMIT
Deleted Hero: id=2 name='Spider-Youngster' age=19 secret_name='Pedro Parqueador'
2021-08-27 23:52:06,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-27 23:52:06,650 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2021-08-27 23:52:06,650 INFO sqlalchemy.engine.Engine [no key 0.00043s] ('Spider-Youngster',)
There's no hero named Spider-Youngster
2021-08-27 23:52:06,651 INFO sqlalchemy.engine.Engine ROLLBACK