## [SQL Model](https://sqlmodel.tiangolo.com/)

* [Tutorial](https://sqlmodel.tiangolo.com/tutorial/)

### [Creating tables using SQL Model](https://sqlmodel.tiangolo.com/tutorial/create-db-and-table/)

In [9]:
%%writefile app.py


from typing import Optional

from sqlmodel import Field, SQLModel, create_engine


class Hero(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    secret_name: str
    age: Optional[int] = None


sqlite_file_name = "database.db"
sqlite_url = f"sqlite:///{sqlite_file_name}"

engine = create_engine(sqlite_url, echo=True)


def create_db_and_tables():
    SQLModel.metadata.create_all(engine)



if __name__ == "__main__":

    create_db_and_tables()

Writing app.py

In [10]:
!python app.py

2021-08-26 18:50:29,371 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 18:50:29,372 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hero")
2021-08-26 18:50:29,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 18:50:29,372 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("hero")
2021-08-26 18:50:29,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 18:50:29,373 INFO sqlalchemy.engine.Engine
CREATE TABLE hero (
	id INTEGER,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	age INTEGER,
	PRIMARY KEY (id)
)


2021-08-26 18:50:29,373 INFO sqlalchemy.engine.Engine [no key 0.00012s] ()
2021-08-26 18:50:29,470 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_secret_name ON hero (secret_name)
2021-08-26 18:50:29,470 INFO sqlalchemy.engine.Engine [no key 0.00020s] ()
2021-08-26 18:50:29,586 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_id ON hero (id)
2021-08-26 18:50:29,586 INFO sqlalchemy.engine.Engine [no key 0.00015s] ()
2021-08-26 18:50:29,704 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_age ON hero (age)
2021-08-26 18:50:29,704 INFO sqlalchemy.engine.Engine [no key 0.00016s] ()
2021-08-26 18:50:29,809 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_name ON hero (name)
2021-08-26 18:50:29,809 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
2021-08-26 18:50:29,916 INFO sqlalchemy.engine.Engine COMMIT

### [Inserting rows via Sessions](https://sqlmodel.tiangolo.com/tutorial/insert/)

In [11]:
%%writefile app_insert.py
from typing import Optional

from sqlmodel import Field, Session, SQLModel, create_engine


class Hero(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    secret_name: str
    age: Optional[int] = None


sqlite_file_name = "database.db"
sqlite_url = f"sqlite:///{sqlite_file_name}"

engine = create_engine(sqlite_url, echo=True)


def create_db_and_tables():
    SQLModel.metadata.create_all(engine)


def create_heroes():
    hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")
    hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
    hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)

    with Session(engine) as session:
        session.add(hero_1)
        session.add(hero_2)
        session.add(hero_3)

        session.commit()


def main():
    create_db_and_tables()
    create_heroes()


if __name__ == "__main__":
    main()

Writing app_insert.py

In [12]:
!python app_insert.py

2021-08-26 18:57:56,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 18:57:56,666 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hero")
2021-08-26 18:57:56,666 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 18:57:56,667 INFO sqlalchemy.engine.Engine COMMIT
2021-08-26 18:57:56,669 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 18:57:56,670 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-26 18:57:56,670 INFO sqlalchemy.engine.Engine [generated in 0.00015s] ('Deadpond', 'Dive Wilson', None)
2021-08-26 18:57:56,672 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-26 18:57:56,672 INFO sqlalchemy.engine.Engine [cached since 0.003007s ago] ('Spider-Boy', 'Pedro Parqueador', None)
2021-08-26 18:57:56,672 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-26 18:57:56,674 INFO sqlalchemy.engine.Engine [cached since 0.003396s ago] ('Rusty-Man', 'Tommy Sharp', 48)
2021-08-26 18:57:56,674 INFO sqlalchemy.engine.Engine COMMIT

### [Automatic ID's](https://sqlmodel.tiangolo.com/tutorial/automatic-id-none-refresh/)

In [13]:
%%writefile app_autoId_refresh.py

from typing import Optional

from sqlmodel import Field, Session, SQLModel, create_engine


class Hero(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    secret_name: str
    age: Optional[int] = None


sqlite_file_name = "database.db"
sqlite_url = f"sqlite:///{sqlite_file_name}"

engine = create_engine(sqlite_url, echo=True)


def create_db_and_tables():
    SQLModel.metadata.create_all(engine)


def create_heroes():
    hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")  
    hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")  
    hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)  

    print("Before interacting with the database")  
    print("Hero 1:", hero_1)  
    print("Hero 2:", hero_2)  
    print("Hero 3:", hero_3)  

    with Session(engine) as session:  
        session.add(hero_1)  
        session.add(hero_2)  
        session.add(hero_3)  

        print("After adding to the session")  
        print("Hero 1:", hero_1)  
        print("Hero 2:", hero_2)  
        print("Hero 3:", hero_3)  

        session.commit()  

        print("After committing the session")  
        print("Hero 1:", hero_1)  
        print("Hero 2:", hero_2)  
        print("Hero 3:", hero_3)  

        print("After committing the session, show IDs")  
        print("Hero 1 ID:", hero_1.id)  
        print("Hero 2 ID:", hero_2.id)  
        print("Hero 3 ID:", hero_3.id)  

        print("After committing the session, show names")  
        print("Hero 1 name:", hero_1.name)  
        print("Hero 2 name:", hero_2.name)  
        print("Hero 3 name:", hero_3.name)  

        session.refresh(hero_1)  
        session.refresh(hero_2)  
        session.refresh(hero_3)  

        print("After refreshing the heroes")  
        print("Hero 1:", hero_1)  
        print("Hero 2:", hero_2)  
        print("Hero 3:", hero_3)  
    

    print("After the session closes")  
    print("Hero 1:", hero_1)  
    print("Hero 2:", hero_2)  
    print("Hero 3:", hero_3)  


def main():
    create_db_and_tables()
    create_heroes()


if __name__ == "__main__":
    main()

Writing app_autoId_refresh.py

In [14]:
!python app_autoId_refresh.py

2021-08-26 21:08:11,908 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 21:08:11,908 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hero")
2021-08-26 21:08:11,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 21:08:11,908 INFO sqlalchemy.engine.Engine COMMIT
Before interacting with the database
Hero 1: id=None name='Deadpond' secret_name='Dive Wilson' age=None
Hero 2: id=None name='Spider-Boy' secret_name='Pedro Parqueador' age=None
Hero 3: id=None name='Rusty-Man' secret_name='Tommy Sharp' age=48
After adding to the session
Hero 1: id=None name='Deadpond' secret_name='Dive Wilson' age=None
Hero 2: id=None name='Spider-Boy' secret_name='Pedro Parqueador' age=None
Hero 3: id=None name='Rusty-Man' secret_name='Tommy Sharp' age=48
2021-08-26 21:08:11,912 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 21:08:11,912 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-26 21:08:11,912 INFO sqlalchemy.engine.Engine [generated in 0.00018s] ('Deadpond', 'Dive Wilson', None)
2021-08-26 21:08:11,956 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-26 21:08:11,956 INFO sqlalchemy.engine.Engine [cached since 0.04378s ago] ('Spider-Boy', 'Pedro Parqueador', None)
2021-08-26 21:08:11,956 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?)
2021-08-26 21:08:11,956 INFO sqlalchemy.engine.Engine [cached since 0.04396s ago] ('Rusty-Man', 'Tommy Sharp', 48)
2021-08-26 21:08:11,956 INFO sqlalchemy.engine.Engine COMMIT
After committing the session
Hero 1:
Hero 2:
Hero 3:
After committing the session, show IDs
2021-08-26 21:08:12,068 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 21:08:12,068 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-26 21:08:12,068 INFO sqlalchemy.engine.Engine [generated in 0.00016s] (4,)
Hero 1 ID: 4
2021-08-26 21:08:12,072 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-26 21:08:12,072 INFO sqlalchemy.engine.Engine [cached since 0.001238s ago] (5,)
Hero 2 ID: 5
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine [cached since 0.001766s ago] (6,)
Hero 3 ID: 6
After committing the session, show names
Hero 1 name: Deadpond
Hero 2 name: Spider-Boy
Hero 3 name: Rusty-Man
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine [generated in 0.00010s] (4,)
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine [cached since 0.0006616s ago] (5,)
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine [cached since 0.001144s ago] (6,)
After refreshing the heroes
Hero 1: age=None id=4 name='Deadpond' secret_name='Dive Wilson'
Hero 2: age=None id=5 name='Spider-Boy' secret_name='Pedro Parqueador'
Hero 3: age=48 id=6 name='Rusty-Man' secret_name='Tommy Sharp'
2021-08-26 21:08:12,073 INFO sqlalchemy.engine.Engine ROLLBACK
After the session closes
Hero 1: age=None id=4 name='Deadpond' secret_name='Dive Wilson'
Hero 2: age=None id=5 name='Spider-Boy' secret_name='Pedro Parqueador'
Hero 3: age=48 id=6 name='Rusty-Man' secret_name='Tommy Sharp'

### [Reading Data (SELECT)](https://sqlmodel.tiangolo.com/tutorial/select/)